a {
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    text-align: center;
    color: #607D8B;
    background-color: #eee;
    border-radius: 2px;
}

a:hover {
    color: #039be5;
    background-color: #CFD8DC;
}

